@font-face {
	font-family: "Chicago";
	src: url("./fonts/53dc764fd0dbbb3140b7909afd437722.eot"); /* IE9*/
	src: url("./fonts/53dc764fd0dbbb3140b7909afd437722.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("./fonts/53dc764fd0dbbb3140b7909afd437722.woff2") format("woff2"),
		/* chrome、firefox */ url("./fonts/53dc764fd0dbbb3140b7909afd437722.woff") format("woff"),
		/* chrome、firefox */ url("./fonts/53dc764fd0dbbb3140b7909afd437722.ttf") format("truetype"),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("./fonts/53dc764fd0dbbb3140b7909afd437722.svg#Chicago")
			format("svg"); /* iOS 4.1- */
}
